.block-top.active {
    @include media(991) {
        height: 100svh;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
    
        .header {
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;

            .main-container {
                width: calc(100% - 30px);
            }
        }

        .mobile-menu {
            height: 100%;
            display: flex;
        }
    }
}

.header {
    background: $color-white;

    &__left {
        gap: 32px;
    }

    &__navs {
        gap: 32px;

        a {
            font-size: 16px;
            line-height: 150%;
        }
    }
    
    &__right {
        .link {
            font-size: 16px;
        }

        .btn-red {
            margin: 0 12px 0 32px;
        }
    }

    &__bars {
        width: 28px;
        height: 28px;
        
        img:nth-child(2) {
            display: none;
        }

        &.active img {
            display: none;

            &:nth-child(2) {
                display: block;
            }
        }
    }
}

.mobile-menu {
    background: $color-white;
    padding: 24px 15px 32px;
    height: 100%;
    display: none;

    &__navs {
        a {
            font-size: 24px;
            font-weight: bold;
            line-height: 130%;
        }
    }

    &__btns {
        gap: 12px;
    }
}