@import './normalize';
@import './global';


body {
    font-family: $font-exo-2;
    font-weight: 400;
    background: $color-bg;
    color: $color-gray1;
}

button, input {
    font-family: $font-exo-2;
    font-weight: 400;
}

.main-container {
    max-width: 1290px;
    margin: 0 auto;

    @include media(1320) {
        max-width: calc(100% - 30px);
    }
}

.btn {
    &-red {
        background: $color-prim1;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;
        line-height: 150%;
        color: $color-white;
        transition: .2s ease all;
        text-align: center;
        padding: 8px 24px;

        @include media(991) {
            padding: 12px 24px;
            font-size: 16px;
        }

        &:hover {
            background: #E02F22;
        }

        &:active {
            background: #FF574A;
        }
    }

    &-gray {
        background: $color-gray4;
        border-radius: 6px;
        font-size: 14px;
        line-height: 150%;
        font-weight: bold;
        transition: .2s ease all;
        text-align: center;
        padding: 8px 24px;

        @include media(991) {
            padding: 12px 24px;
            font-size: 16px;
        }

        &:hover {
            background: $color-gray3;
        }

        &:active {
            background: #F7F7F7;
        }
    }
}

@import './alert';
@import './logo';
@import './header';
@import './jumbo';
@import './exclusive';
@import './mreo';
@import './footer';
