@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

body {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  background: #EDEDED;
  color: #333333;
}

button, input {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
}

.main-container {
  max-width: 1290px;
  margin: 0 auto;
}
@media screen and (max-width: 1320px) {
  .main-container {
    max-width: calc(100% - 30px);
  }
}

.btn-red {
  background: #F44336;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
  color: White;
  transition: 0.2s ease all;
  text-align: center;
  padding: 8px 24px;
}
@media screen and (max-width: 991px) {
  .btn-red {
    padding: 12px 24px;
    font-size: 16px;
  }
}
.btn-red:hover {
  background: #E02F22;
}
.btn-red:active {
  background: #FF574A;
}
.btn-gray {
  background: #F1F1F1;
  border-radius: 6px;
  font-size: 14px;
  line-height: 150%;
  font-weight: bold;
  transition: 0.2s ease all;
  text-align: center;
  padding: 8px 24px;
}
@media screen and (max-width: 991px) {
  .btn-gray {
    padding: 12px 24px;
    font-size: 16px;
  }
}
.btn-gray:hover {
  background: #DDDDDD;
}
.btn-gray:active {
  background: #F7F7F7;
}

.alert {
  background: #1976D2;
}
@media screen and (max-width: 767px) {
  .alert {
    padding: 12px 0;
  }
}
.alert__text p {
  font-size: 16px;
  font-weight: bold;
  color: White;
}
@media screen and (max-width: 767px) {
  .alert__text p {
    font-size: 14px;
  }
}
.alert__close {
  width: 28px;
  height: 28px;
}
@media screen and (max-width: 767px) {
  .alert__close {
    position: static !important;
    transform: translate(0) !important;
  }
}

.logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 130%;
  color: White;
  flex-shrink: 0;
}
@media screen and (max-width: 991px) {
  .logo {
    font-size: 16px;
  }
}
.logo span {
  padding: 8px 12px;
}
.logo span:nth-child(1) {
  background: #F44336;
}
.logo span:nth-child(2) {
  background: #1976D2;
}

@media screen and (max-width: 991px) {
  .block-top.active {
    height: 100svh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
  }
  .block-top.active .header {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .block-top.active .header .main-container {
    width: calc(100% - 30px);
  }
  .block-top.active .mobile-menu {
    height: 100%;
    display: flex;
  }
}

.header {
  background: White;
}
.header__left {
  gap: 32px;
}
.header__navs {
  gap: 32px;
}
.header__navs a {
  font-size: 16px;
  line-height: 150%;
}
.header__right .link {
  font-size: 16px;
}
.header__right .btn-red {
  margin: 0 12px 0 32px;
}
.header__bars {
  width: 28px;
  height: 28px;
}
.header__bars img:nth-child(2) {
  display: none;
}
.header__bars.active img {
  display: none;
}
.header__bars.active img:nth-child(2) {
  display: block;
}

.mobile-menu {
  background: White;
  padding: 24px 15px 32px;
  height: 100%;
  display: none;
}
.mobile-menu__navs a {
  font-size: 24px;
  font-weight: bold;
  line-height: 130%;
}
.mobile-menu__btns {
  gap: 12px;
}

.jumbo {
  z-index: 1;
}
.jumbo__bg {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.jumbo .main-container {
  padding: 32px 0;
}
@media screen and (max-width: 991px) {
  .jumbo .main-container {
    padding: 43px 0;
  }
}
.jumbo__title {
  color: #0E0E0E;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 130%;
}
@media screen and (max-width: 991px) {
  .jumbo__title {
    font-size: 29px;
  }
}

.exclusive {
  margin-bottom: 24px;
}
@media screen and (max-width: 1200px) {
  .exclusive {
    margin-bottom: 16px;
  }
}
.exclusive__in {
  padding: 40px 56px;
  border-radius: 16px;
  background: White;
}
@media screen and (max-width: 1200px) {
  .exclusive__in {
    border-radius: 8px;
    padding: 16px 12px;
    border-top: 6px solid #1976D2;
  }
}
.exclusive__head h3 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  color: #0E0E0E;
}
.exclusive_btns {
  gap: 16px;
}
.exclusive .exclusive_btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #DDDDDD;
}

.contact__map {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 1200px) {
  .contact__map {
    margin-bottom: 12px;
    gap: 0;
  }
}
.contact__map h6 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  color: #0E0E0E;
}
@media screen and (max-width: 1200px) {
  .contact__map h6 {
    font-size: 24px;
    line-height: 31px;
  }
}
.contact__map p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
@media screen and (max-width: 1200px) {
  .contact__map p {
    margin: 8px 0 20px 0;
  }
}
.contact__in {
  padding: 40px 56px;
  border-radius: 16px;
  background: White;
}
@media screen and (max-width: 1200px) {
  .contact__in {
    border-radius: 8px;
    padding: 16px 12px;
  }
}
.contact_btn {
  margin-top: 24px;
  background: transparent;
  border: 1px solid #F44336;
  transition: 0.3s ease;
  height: 36px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 21px;
  color: #F44336;
}
.contact_btn svg path {
  transition: 0.3s ease;
}
@media screen and (max-width: 1200px) {
  .contact_btn {
    margin-top: 12px;
  }
}
@media screen and (max-width: 576px) {
  .contact_btn {
    width: 100%;
  }
}
.contact_btn:hover {
  color: White;
  background-color: #F44336;
}
.contact_btn:hover svg path {
  fill: White;
}
.contact__list {
  border-radius: 8px;
}
.contact__list .number {
  flex-shrink: 0;
  width: 24px;
}
@media screen and (max-width: 1200px) {
  .contact__list .number {
    display: none;
  }
}
.contact__list .number h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
.contact__list .title {
  width: 560px;
}
@media screen and (max-width: 1200px) {
  .contact__list .title {
    width: 100%;
  }
}
.contact__list .title h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}
.contact__list .note {
  position: relative;
}
.contact__list .note:hover .toltip {
  display: flex;
}
.contact__list .note .toltip {
  z-index: 2;
  display: none;
  width: 289px;
  position: absolute;
  bottom: 100%;
  left: -70px;
  right: 0;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: White;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #0E0E0E;
}
@media screen and (max-width: 1200px) {
  .contact__list .note .toltip {
    left: -25px;
  }
}
.contact__list .note .toltip svg {
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.contact__list .note a {
  display: flex;
  align-items: center;
  gap: 4px;
}
.contact__list .phone {
  flex-shrink: 0;
  width: 154px;
}
.contact__list .phone a {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: #0E0E0E;
}
.contact__list .address {
  width: 314px;
}
@media screen and (max-width: 1200px) {
  .contact__list .address {
    width: 100%;
  }
}
.contact__list .address .map_link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #F44336;
}
.contact__list-head {
  border-radius: 8px 8px 0 0;
  background-color: #1976D2;
  padding: 14px 24px;
  gap: 26px;
}
@media screen and (max-width: 1200px) {
  .contact__list-head {
    display: none;
  }
}
.contact__list-head h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: White;
}
.contact__list-content {
  border: 1px solid #DDDDDD;
  border-radius: 0 0 8px 8px;
}
@media screen and (max-width: 1200px) {
  .contact__list-content {
    border: none;
    gap: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .contact__list-content.active .contact__list-block:nth-child(n+3) {
    display: none !important;
  }
}
.contact__list-block {
  background-color: #1976D2;
  padding: 8px 24px 21px 24px;
  gap: 26px;
  background-color: #DDDDDD;
}
@media screen and (max-width: 1200px) {
  .contact__list-block {
    border-radius: 8px;
    padding: 16px 12px;
    flex-direction: column;
    gap: 12px;
  }
}
.contact__list-block:nth-child(odd) {
  background-color: #F7F7F7;
}

.footer {
  padding: 16px 0 24px 0;
  background-color: White;
  margin-top: 64px;
}
@media screen and (max-width: 1200px) {
  .footer {
    margin-top: 24px;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    border-radius: 16px 16px 0 0;
  }
}
.footer__top {
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #DDDDDD;
}
.footer__top-link {
  gap: 24px;
}
@media screen and (max-width: 576px) {
  .footer__top-link {
    gap: 12px;
  }
}
.footer__top-link a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  transition: 0.2s linear;
}
.footer__top-link a:hover {
  color: #DDDDDD;
}
.footer__bottom {
  padding-top: 24px;
  gap: 24px;
}
@media screen and (max-width: 1200px) {
  .footer__bottom {
    gap: 16px;
  }
}
@media screen and (max-width: 576px) {
  .footer__bottom {
    gap: 16px;
  }
}
.footer__bottom-right {
  gap: 70px;
  transition: 0.3s linear;
}
@media screen and (max-width: 1350px) {
  .footer__bottom-right {
    gap: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__bottom-right {
    gap: 12px;
    height: 0;
    overflow: hidden;
  }
}
.footer__bottom-right.active {
  height: 384px;
}
.footer__bottom-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #0E0E0E;
  gap: 6px;
  padding-right: 24px;
  transition: 0.3s linear;
  border-right: 1px solid #DDDDDD;
}
@media screen and (max-width: 1200px) {
  .footer__bottom-title {
    border-right: none;
  }
}
@media screen and (max-width: 576px) {
  .footer__bottom-title {
    cursor: pointer;
  }
}
@media screen and (max-width: 1200px) {
  .footer__bottom-title br {
    display: none;
  }
}
.footer__bottom-title svg {
  display: none;
  transform: rotate(180deg);
  transition: 0.3s linear;
}
@media screen and (max-width: 1200px) {
  .footer__bottom-title svg {
    display: flex;
  }
}
.footer__bottom-title.active svg {
  transform: rotate(0deg);
}
.footer__bottom ul {
  gap: 12px;
}
.footer__bottom ul li {
  display: inline-block;
}
.footer__bottom ul a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  transition: 0.3s linear;
}
@media screen and (max-width: 576px) {
  .footer__bottom ul a {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer__bottom ul a:hover {
  color: #DDDDDD;
}/*# sourceMappingURL=style.css.map */